# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment folders
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Test coverage
htmlcov/
.coverage
*.cover

# Jupyter notebook security
*.ipynb~

# SQLite database files
*.sqlite3

# Environment variable files
.env
